body {
    font-family: 'PingFang TC Regular', 'Noto Sans TC', 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

    @include max {
        max-width: 1100px;
    }
    @include max2 {
        max-width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }
}
