/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'PingFang TC Regular', 'Noto Sans TC', 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 98%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px;
}

@media (max-width: 767px) {
  .header-navbar {
    width: 100%;
    padding: 10px 0;
  }
}

@media (max-width: 414px) {
  .header-navbar {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.header-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 568px) {
  .header-panel a {
    position: relative;
    padding: 4px;
  }
  .header-panel a em {
    font-size: 14px;
    padding: 0 3px;
    color: #fff;
    background-color: #916000;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 767px) {
  .header-logo {
    margin-left: 10px;
  }
}

.shopping-cart, .dropdown-btn {
  margin-left: 20px;
  color: #8d8d8d;
  display: none;
}

@media (max-width: 767px) {
  .shopping-cart, .dropdown-btn {
    display: block;
    margin-right: 10px;
  }
  .shopping-cart:hover, .shopping-cart:focus, .dropdown-btn:hover, .dropdown-btn:focus {
    color: #848484;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-menu li {
  margin-left: 15px;
}

.header-menu li a {
  color: #8D8D8D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .header-menu li a {
    max-width: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
  }
}

.header-menu li span {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .header-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #fff;
    background-color: #707070;
    padding: 16px 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header-menu .material-icons {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .header-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.footer {
  margin: 0 auto;
}

.footer-banner {
  max-width: 100%;
  max-height: 30%;
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-banner .container .banner-title {
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 5%;
  color: #8d8d8d;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

@media (max-width: 768px) {
  .footer-banner .container .banner-title {
    padding-left: 0;
    padding-top: 60%;
    padding-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-banner {
    min-height: 30vh;
  }
}

.subscribe-bar {
  margin-top: 20px;
  display: inline-block;
  outline: none;
  overflow: hidden;
}

.subscribe-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.subscribe-bar input[type=email] {
  padding: 10px;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  border-radius: 4px 0 0 4px;
}

.subscribe-bar input[type=email]:focus {
  outline: none;
}

.subscribe-bar button {
  display: block;
  height: 100%;
  padding: 10px;
  background: #916000;
  color: #fff;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.subscribe-bar button:hover {
  background: #744e04;
  cursor: pointer;
}

.footer-navbar {
  background: #916000;
  padding: 20px;
}

.footer-navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer-logo img {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer-logo img {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  .footer-logo img {
    margin-right: 23px;
  }
}

.footer-logo p {
  font: normal normal medium 14px/21px Roboto;
}

.footer-logo:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu li a {
  font-family: Roboto;
  font-weight: 300;
  margin: 18px;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-menu {
    width: 0;
    display: none;
  }
}

.banner, .banner .container {
  min-height: 700px;
}

@media (max-width: 767px) {
  .banner, .banner .container {
    width: 100%;
    min-height: 525px;
  }
}

.banner {
  background-image: url("../img/banner-desktop.jpg");
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .banner .container {
    width: 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../img/banner-mobile.jpg");
    height: 525px;
  }
}

.banner-title {
  position: relative;
  right: 0;
  color: #fff;
  max-width: 445px;
  margin-right: 8%;
  font-family: Roboto;
}

.banner-title h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.banner-title p {
  font-size: 24px;
  line-height: 36px;
}

.banner-title .banner-btn {
  width: 80%;
  text-align: center;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  margin: 16px 0;
  padding: 10px 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.banner-title .banner-btn:hover {
  background-color: #fff;
  cursor: pointer;
}

.banner-title .banner-btn:hover a {
  color: #c0c0c0;
}

@media (max-width: 767px) {
  .banner-title .banner-btn {
    width: 98%;
  }
}

.banner-title a {
  color: #fff;
  font-size: 30px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

@media (max-width: 1200px) {
  .banner-title {
    margin-right: 4%;
  }
}

@media (max-width: 768px) {
  .banner-title {
    margin-right: 1%;
  }
}

@media (max-width: 767px) {
  .banner-title {
    width: 95%;
    margin: 0 10px;
    right: auto;
  }
}

.topProduct ul {
  max-width: 1140px;
  padding: 0 15px;
  margin: 60px auto;
}

@media (max-width: 768px) {
  .topProduct ul {
    padding: 0 20px;
    margin: 40px auto;
  }
}

.topProduct-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .topProduct-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topProduct-rowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .topProduct-rowReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topProduct-img, .topProduct-content {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .topProduct-img img, .topProduct-content img {
    max-width: 555px;
  }
}

@media (max-width: 568px) {
  .topProduct-img img, .topProduct-content img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .topProduct-img, .topProduct-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.topProduct-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topProduct-content > div {
  max-width: 60%;
  width: 100%;
}

@media (max-width: 768px) {
  .topProduct-content > div {
    max-width: 80%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .topProduct-content > div {
    max-width: 555px;
    margin-top: 8px;
  }
}

@media (max-width: 568px) {
  .topProduct-content > div {
    max-width: 100%;
    width: 100%;
  }
}

.topProduct-content h3, .topProduct-content h4 {
  font-family: Roboto;
  font-weight: bold;
}

.topProduct-content h3 {
  font-size: 32px;
  line-height: 48px;
}

.topProduct-content h4 {
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 768px) {
  .topProduct-content h4 {
    font-size: 20px;
    line-height: 28px;
  }
}

.topProduct-content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.topProduct-content .intro p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .topProduct-content .intro p {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .topProduct-content .intro ul {
    padding: 0;
    margin: 0;
  }
}

.topProduct-content .intro li {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .topProduct-content .intro li {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .topProduct-content .intro li {
    margin-bottom: 20px;
  }
}

.topProduct-content .btn-more {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .topProduct-content .btn-more {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.topProduct-content .btn-plan {
  width: 90%;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 18px 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.topProduct-content .btn-plan a {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  color: #000;
}

.topProduct-content .btn-plan:hover {
  background: #000;
  cursor: pointer;
}

.topProduct-content .btn-plan:hover a {
  color: #fff;
}

@media (max-width: 767px) {
  .topProduct-content .btn-plan {
    width: 100%;
  }
}

.product {
  background-color: #E0E0E0;
}

.product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .product ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product li {
  width: 30%;
  margin: 40px 15px;
}

@media (max-width: 768px) {
  .product li {
    width: 90%;
  }
}

.product-img {
  display: block;
  min-width: 90%;
  min-height: 60vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-img#prod1 {
  background-image: url("../img/prod1-desktop.jpg");
}

@media (max-width: 768px) {
  .product-img#prod1 {
    background-image: url("../img/prod1-mobile.jpg");
  }
}

.product-img#prod2 {
  background-image: url("../img/prod2-desktop.jpg");
}

@media (max-width: 768px) {
  .product-img#prod2 {
    background-image: url("../img/prod2-mobile.jpg");
  }
}

.product-img#prod3 {
  background-image: url("../img/prod3-desktop.jpg");
}

@media (max-width: 768px) {
  .product-img#prod3 {
    background-image: url("../img/prod3-mobile.jpg");
  }
}

.product-img .product-img-hover {
  width: 100%;
  min-height: 60vh;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-img .product-img-hover:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .product-img .product-img-hover {
    min-height: 70vh;
  }
}

.product-img .sold-out-hover {
  width: 100%;
  min-height: 60vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-img .sold-out-hover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .product-img .sold-out-hover {
    min-height: 70vh;
  }
}

.product-img .sold-out-text {
  opacity: 1.0;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 768px) {
  .product-img {
    min-width: 100%;
    min-height: 70vh;
  }
}

.product-content {
  font-family: Roboto;
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product-content h4 {
  padding-top: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.product-content p {
  padding-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.product-content p .discount {
  text-decoration: line-through;
  color: #8d8d8d;
  margin-left: 8px;
}

.product-content:hover {
  color: #3f3f3f;
}

.activity {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity .text-box {
  width: 28%;
  font-family: Roboto;
  font-weight: 300;
}

.activity .text-box h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.activity .text-box h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

.activity .text-box p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.activity .text-box a {
  font-size: 16px;
  line-height: 24px;
  color: #ac8a46;
}

@media (max-width: 768px) {
  .activity .text-box {
    margin-top: 25px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .activity {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.activity-img {
  background-image: url("../img/recycle-desktop.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
  width: 66%;
  min-height: 500px;
}

@media (max-width: 768px) {
  .activity-img {
    margin-right: 0;
    width: 90%;
    min-height: 500px;
  }
}

.btn-more a {
  color: #ac8a46;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-more a:hover {
  color: #cfb176;
}

.brand-navbar {
  background-color: #916000;
  margin-bottom: 80px;
}

.brand-navbar .container ul li a {
  text-decoration: none;
  color: #fff;
  font: normal normal normal 20px/30px Roboto;
}

@media (max-width: 568px) {
  .brand-navbar {
    display: none;
  }
}

.product-list ul {
  margin: 0 auto;
}

.product-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

.product-list ul li .image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  max-width: 95%;
  max-height: 95%;
}

.product-list ul li .image img {
  max-width: 100%;
  position: absolute;
}

@media (max-width: 568px) {
  .product-list ul li {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}

.product-list .icon-bar .material-icons {
  color: #916019;
}

@media (max-width: 568px) {
  .product-list {
    margin: 42px 7.5px 0 7.5px;
  }
}

.pagination li a:focus, .pagination li a:hover {
  color: #ac8a46;
  text-decoration: underline;
}

.product-view-main {
  margin-bottom: 60px;
}

@media (max-width: 568px) {
  .product-view-main .container {
    padding: 0 15px;
  }
}

@media (max-width: 568px) {
  .product-view-img {
    padding: 0;
  }
}

.product-view-description {
  padding-left: 30px;
}

.product-view-description h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  font-family: Roboto;
}

.product-view-description p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 568px) {
  .product-view-description {
    padding-left: 0;
  }
}

.product-notice h3 {
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto;
}

.product-notice p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.add-cart-bar .custom-select {
  border-color: #916019;
  border-radius: 4px 0 0 4px;
}

.add-cart-bar .add-btn {
  text-align: center;
  background-color: #916019;
  border-color: #916019;
  border-radius: 0 4px 4px 0;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.add-cart-bar .add-btn:hover {
  background-color: #6e4913;
}

.add-cart-bar .custom-select, .add-cart-bar .add-btn label {
  height: 50px;
}

.add-fav p {
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.add-fav p:hover {
  color: #916019;
}

.add-fav .material-icons {
  color: #916019;
}

.login-main {
  margin: 80px auto;
}

@media (max-width: 568px) {
  .login-main {
    margin-top: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login-img {
  background-image: url("https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding-top: 50%;
}

@media (max-width: 568px) {
  .login-img {
    margin-bottom: 28px;
  }
}

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
  padding-right: 0;
}

.login-box h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  font-family: Roboto;
}

@media (max-width: 568px) {
  .login-box {
    padding-left: 0;
  }
}

.form-bottom {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-bottom .forget-pw {
  color: #916019;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-bottom .forget-pw:hover {
  color: #6e4913;
}

.form-bottom .reg-btn {
  color: #916019;
  background-color: transparent;
  border-color: #916019;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-bottom .reg-btn:hover {
  background-color: #decead;
}

.form-bottom .login-btn {
  background-color: #916019;
  border-color: #916019;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-bottom .login-btn:hover {
  background-color: #6e4913;
}

.member-center h2 {
  font-weight: medium;
  font-size: 20px;
  line-height: 30px;
  font-family: Roboto;
  color: #848484;
}

@media (max-width: 568px) {
  .member-center h2 {
    display: none;
  }
}

@media (max-width: 568px) {
  .member-center ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.member-center li a {
  padding-bottom: 2px;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  border-bottom: 2px solid transparent;
}

.member-center li a:hover {
  border-bottom: 2px solid #916000;
}

@media (max-width: 568px) {
  .modify-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.member-modify h2 {
  padding-bottom: 8px;
  font-weight: medium;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto;
  border-bottom: 1px solid #818a91;
}

.member-modify label, .member-modify input, .member-modify select {
  color: #818a91;
}

.member-modify input[type=checkbox] {
  border-color: #916019;
}

.member-modify input[type=checkbox]:checked {
  background-color: #916019;
}

.member-modify button {
  background-color: #916019;
  border-color: #916019;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.member-modify button:hover {
  background-color: #6e4913;
}

.member-modify .password-change {
  margin-top: 48px;
}

.member-info h2 {
  font-size: 16px;
  line-height: 22px;
  color: #818a91;
}

.member-info h2 p {
  margin-left: 6px;
  font-family: Roboto;
}

@media (max-width: 568px) {
  .member-info h2 p {
    font-size: 20px;
    line-height: 30px;
  }
}

.member-info h2 .material-icons {
  color: #000;
}

.member-info li {
  font-size: 16px;
  line-height: 24px;
  color: #818a91;
}

.member-info li p {
  font-size: 14px;
  line-height: 21px;
  color: #a5a5a5;
}

.member-main {
  margin-bottom: 60px;
}

@media (max-width: 568px) {
  .member-main .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 568px) {
  .member-main {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=all.css.map */