@import "../variables";

.add-cart-bar {
    .custom-select {
        border-color: $brown-dk;
        border-radius: 4px 0 0 4px;
    }
    .add-btn {
        text-align: center;
        background-color: $brown-dk;
        border-color: $brown-dk;
        border-radius: 0 4px 4px 0;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        transition: all 0.5s;

        &:hover {
            background-color: darken($brown-dk, 8%);
        }
    }
    .custom-select, .add-btn label {
        // max-height: 50px;
        height: 50px;
    }
}