// .modal:before {
//     content: '';
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
//     align-self: center;
// }
  
// .modal-dialog {
//     display: inline-block;
//     vertical-align: middle;
//     align-self: center;
//     // max-width: 100%;
//     // width: 100%;
// }

.cart-modal-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cart-modal-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: $brown-dk;
    }
}