.brand-navbar {
    background-color: $brown;
    margin-bottom: 80px;

    .container {
        ul {
            li {
                a {
                    text-decoration: none;
                    color: #fff;
                    font: normal normal normal 20px/30px Roboto;
                    
                }
            }
        }
    }

    @include mobile {
        display: none;
    }
}