.topProduct {
    max-width: 1140px;
    padding: 0 15px;
    margin: 60px auto;

    @include pad {
        padding: 0 20px;
        margin: 40px auto;
    }
}
.topProduct-row {
    display: flex;
    flex-direction: row;

    @include pad-sm {
        flex-direction: column;
    }
}
.topProduct-rowReverse {
    flex-direction: row-reverse;

    @include pad-sm {
        flex-direction: column;
    }
}
.topProduct-img, .topProduct-content {
    width: 50%;
    height: auto;

    img {
        @include pad-sm {
            max-width: 555px;
        }
        @include mobile {
            max-width: 100%;
        }
    }

    @include pad-sm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.topProduct-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        max-width: 60%;
        width: 100%;

        @include pad {
            max-width: 80%;
            width: 100%;
        }
        @include pad-sm {
            max-width: 555px;
            margin-top: 8px;
        }
        @include mobile {
            max-width: 100%;
            width: 100%;
        }
    }
    h3, h4 {
        font-family: Roboto;
        font-weight: bold;
    }
    h3 {
        font-size: 32px;
        line-height: 48px;
    }
    h4 {
        font-size: 24px;
        line-height: 36px;

        @include pad {
            font-size: 20px;
            line-height: 28px;
        }
    }
    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    .intro {
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;

            @include pad {
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
            }
        }
        ul {
            @include pad-sm {
                padding: 0;
                margin: 0;
            }
        }
        li {
            margin-bottom: 52px;

            @include pad {
                margin-bottom: 10px;
            }
            @include pad-sm {
                margin-bottom: 20px;
            }
        }
    }
    .btn-more {
        margin-top: 16px;

        @include pad-sm {
            margin-top: 8px;
            margin-bottom: 32px;
        }
    }
    .btn-plan {
        max-width: 350px;
        width: 90%;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 30px;
        padding: 18px 0;
        transition: all 0.7s;

        a {
            transition: all 0.7s;
            color: #000;
        }

        &:hover {
            background: #000;
            cursor: pointer;

            a {
                color: #fff;
            }
        }

        @include pad-sm {
            width: 100%;
        }
    }
}