.member-center {
    h2 {
        font-weight: medium;
        font-size: 20px;
        line-height: 30px;
        font-family: Roboto;
        color: $gray-800;

        @include mobile {
            display: none;
        }
    }
    ul {
        @include mobile {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
        }
    }
    li {
        a {
            padding-bottom: 2px;
            font-weight: medium;
            font-size: 16px;
            line-height: 24px;
            color: $gray-800;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $brown;
            }
        }
    }


}